# For Agent and LLM
langchain-community
langchain-google-genai
duckduckgo-search

# For document processing and vectorization
huggingface-hub 
transformers 
sentence-transformers 
pypdf

# For vector database
faiss-cpu 

# For API and web server
fastapi
uvicorn

# For environment management
python-dotenv
python-multipart